{% extends 'school/base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Parent Details | A-SMS {% endblock title %}

{% block side_bar %}
    {% include 'school/partial_active_element.html' with active='manage_parent' %}
{% endblock side_bar %}

{% block content %}
    <style type="text/css">
        .table-wrapper-scroll-y {
            display: block;
            max-height: 350px;
            overflow-y: auto;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }
    </style>
    <div class="container-fluid mt-5">
        <!-- Heading -->
        <div class="card mb-4 wow fadeIn">
            <!--Card content-->
            <div class="card-body d-sm-flex justify-content-between">
                <h6 class="mb-2 mb-sm-0 pt-1">
                    <a href="{% url 'parent_list' %}">All Parents</a>
                    <span>/</span>
                    <span>{{ parent.get_full_name }}</span>
                </h6>

                <h6 class="mb-2 mb-sm-0 pt-1">
                    <a class="btn btn-primary btn-sm" href="{% url 'add_new_parents_child' parent.id %}">Assign Child/Children</a>
                </h6>


            </div>
        </div>
        <!-- Heading -->

        <div class="row">
            <div class="col-md-3">

                <!-- Card -->
                <div class="card">

                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="{{ parent.get_picture }}" alt="User Image">
                        <a class="mask" href="{% url 'edit_parent' parent.id %}">
                            <div class="mask white-text">Change Picture</div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <small class="card-title">Name: {{ parent.get_full_name|capfirst }}</small>
                        <br>
                        <small class="card-title">Role: Parent</small>
                        <br>
                        <a href="{% url 'edit_parent' parent.id %}" class="btn btn-primary">Edit Profile</a>
                    </div>


                </div>
                <!-- Card -->
            </div>


            <div class="col-md-7 text-center">
                <p>Children</p>
                <div class="table-wrapper-scroll-y">

                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Class Teacher</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in students %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <a href="{% url 'student_details' student.student.user.id %}"><td>{{ student.student.user.get_full_name }}</td></a>
                                <td>{{ student.student.level }}</td>
                                <a href=""><td>{{ student.student.schoolclass.classteacher }}</td></a>
                            </tr>
                            {% empty %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td>No student is assigned!</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-2 text-center">
                <small> Registered:<br>
                    <date>{{ parent.date_joined|naturaltime }}</date>
                </small>
                <hr/>
                <small> Last Login:<br>
                    <date>{{ parent.last_login|naturaltime }}</date>
                </small>
                <hr/>
                <small> Phone:<br>
                    <date>{% if parent.phone %}{{ student.user.phone }}{% endif %}</date>
                </small>
                <hr/>
                <small> Email:<br>
                    <date>{{ parent.email }}</date>
                </small>
                <hr/>
                <small> Address:<br>
                    <date>{{ parent.address }}</date>
                </small>
            </div>
        </div>
    </div>

    <script>
        function myFunction() {
            var myWindow = window.open("", "", "width=200,height=100");
        }
    </script>

{% endblock %}